[submodule "third_party/ffmpeg"]
	path = third_party/ffmpeg
	url = https://git.ffmpeg.org/ffmpeg.git
[submodule "third_party/x264"]
	path = third_party/x264
	url = https://code.videolan.org/videolan/x264.git
